<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCABZKOrxTLB0Qw8TBiugJ41tUrNQzH3v0</string>
	<key>GCM_SENDER_ID</key>
	<string>15233868758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sacch.pixvi</string>
	<key>PROJECT_ID</key>
	<string>saccharinesky-f7264</string>
	<key>STORAGE_BUCKET</key>
	<string>saccharinesky-f7264.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15233868758:ios:22ba84e2f971d958ec7a77</string>
</dict>
</plist>